*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px cyan;
    margin-left: 15px;
    transition: 0.3s ease;
    animation: blur 1.5s 2s infinite;
}
.logo:hover{
   transform: scale(1.1);
}
@keyframes blur{
    from{text-shadow: 0 0 10px cyan;}
    to{text-shadow:  0 0 15px orangered;}
}
   
.logo span{
    font-size: 2.5rem;
    font-weight: bold;
     background-image: linear-gradient(rgb(33, 97, 3), rgb(23, 218, 39));
    color: transparent;
    background-clip: text;
    text-shadow: 0 0 10px rgb(43, 228, 43);

}
header{
    margin: 2em 10%;
    display: flex;
    justify-content: space-between;
}

.nav-bar{
   display: flex;
   gap: 55px;
   padding: 1em 2em;
   max-width: max-content;
   height: 20%;
   background: rgba(22, 43, 27, 0.301);
   backdrop-filter: blur(10px);
   border-radius: 10px;
   margin-left: 555px;
   
   
}
.nav-bar a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s ease;
}

.nav-bar a:hover{
    background: green;
    box-shadow: 0 0 15px rgb(50, 250, 50);
    padding: 5px;
    border-radius: 10px;
}
section{
    min-height: 100vh;
    padding: 2em 10%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
}text

.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h1 span{
    background: linear-gradient(green, cyan);
    color: transparent;
    background-clip: text;
    text-shadow: 0 0 15px green;
}                                                                                      

.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.hom-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 20px green,
                0 0 20px green,
                0 0 0px green;
    transition: 0.5s ease;
}

.hom-img img:hover{
     box-shadow: 0 0 20px green,
                0 0 40px green,
                0 0 80px green;
}
.btn{
    height: 40px;
    width: 78px;
    font-size: 1rem;
    padding: 0.5em;
    margin-top: 4px;
    background: green;
    color: #fff;
    box-shadow: 0 0 15px green;
    border: 2px solid green;
    border-radius: 10px;
}
.btn:hover{
    background: transparent;
    color: green;
    transition: 0.3s ease;
    transform: scale(1.1);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}


.about-cont{
    font-size: 1.5em;
}
 .about-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 15px yellow;
    transition: 0.5s ease;
 }
 .about-img img:hover{
    box-shadow: 0 0 25px rgb(255, 0, 140),
                0 0 55px rgb(255, 0, 21);
 }

.about-cont p{
   line-height: 1.7;
}
.about-cont h2 span{
  background-image: linear-gradient(green, yellow);
  color: transparent;
  background-clip: text;
  text-shadow: 0 0 10px rgb(0, 217, 255);
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: green;
}
.skill{
    width: 500px;
    margin: 60px auto;
    padding: 20px;
    box-shadow: 0 0 20px green;
}
.skill li{
    text-decoration: none;
   margin: 21px;
   padding: 10px;
}

.bar{
    display: block;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.25, .8, 0.25, 1);
}
.bar:hover{
    box-shadow: 0 0 29px rgb(51, 45, 45);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(rgb(35, 184, 230), purple);
}
.html{
    width: 70%
}
.css{
    width: 80%;
    animation: css 4s;
}
.javascript{
    width: 75%
 
}
.react{
    width: 67%;
}
.but{
    width: 65px;
    padding: 7px;
    border: 1px solid orangered;
    background: linear-gradient(orangered, yellow);
    border-radius: 10px;
    cursor: pointer;
}
.but:hover{
    background: transparent;
    color: orangered;
}
.imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgs img:hover{
    box-shadow: 0 0 15px green,
                0 0 20px rgba(153, 247, 3, 0.979),
                0 0 25px rgb(6, 137, 224);
    border-radius: 10px;
}

.project{
    
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}
.cards img{
    width: 17vw;
    border-radius: 12px;
}
.card1{
    width: 400px;
    max-height: 560px;
  
    padding: 1em;
    text-align: center;
        box-shadow: 0 0 15px rgb(0, 255, 42),
                    0 0 15px rgb(0, 255, 64);
    border-radius: 12px;
    background: green;
    transition: 1s ease;
}
.card2{
    width: 450px;
     max-height: 560px;
  
    padding: 1em;
    text-align: center;
        box-shadow: 0 0 15px rgb(0, 255, 55),
                    0 0 15px rgb(0, 255, 21);
    border-radius: 12px;
    background: green;
    transition: 1s ease;
}.card3{
    width: 400px;
    max-height: 560px;
    margin: 2em 0;
    padding: 1em;
    border-radius: 12px;
        box-shadow: 0 0 15px rgb(0, 255, 0),
                    0 0 15px rgb(43, 255, 0);  
    text-align: center;
    
    background: green;
    transition: 1s ease;
}

.cards h2{
    font-size: 2.0rem;
    font-weight: 500;
    margin: 5px;
}
.cards p{
    font-size: 29px;
    line-height: 1.1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card1:hover{
    background: transparent;
    color: green;
    box-shadow:  0 0 15px rgb(0, 255, 34),
                0 0 20px rgb(43, 255, 0);
}
.card2:hover{
    background: transparent;
    color: green;
    box-shadow:  0 0 15px rgb(30, 255, 0),
                0 0 20px rgb(9, 255, 0);
}
.card3:hover{
    background: transparent;
    color: green;
    box-shadow:  0 0 15px rgb(0, 255, 21),
                0 0 20px rgb(21, 255, 0);
}

 .buton{
    width: 70px;
    padding: 0rem;
    background: #fff;
    color: black;
    border-radius: 10px;
 }